pkgbase = hyprqt6engine-git
	pkgdesc = QT6 Theme Provider for Hyprland
	pkgver = r18.f665652
	pkgrel = 1
	url = https://github.com/Wizarsy/hyprqt6engine
	arch = x86_64
	license = BSD-3-Clause
	makedepends = clang
	makedepends = cmake
	makedepends = git
	makedepends = lld
	makedepends = llvm
	makedepends = ninja
	makedepends = pkgconf
	makedepends = vulkan-headers
	depends = hyprlang
	depends = hyprutils
	depends = qt6-base
	depends = qt6-declarative
	depends = kconfig
	depends = kcolorscheme
	depends = kiconthemes
	provides = hyprqt6engine
	conflicts = hyprqt6engine
	options = !lto
	source = git+https://github.com/Wizarsy/hyprqt6engine.git
	sha256sums = SKIP

pkgname = hyprqt6engine-git
