pkgbase = pcsx2-git
	pkgdesc = A Sony PlayStation 2 emulator
	pkgver = 2.7.518.r0.gd88510e
	pkgrel = 1
	url = https://github.com/PCSX2/pcsx2
	arch = x86_64
	license = GPL-3.0-only
	makedepends = clang
	makedepends = cmake
	makedepends = extra-cmake-modules
	makedepends = git
	makedepends = libglvnd
	makedepends = lld
	makedepends = llvm
	makedepends = ninja
	makedepends = pkgconf
	makedepends = qt6-tools
	makedepends = vulkan-headers
	depends = ffmpeg
	depends = hicolor-icon-theme
	depends = kddockwidgets
	depends = libbacktrace
	depends = libgl
	depends = libpcap
	depends = libudev.so
	depends = libxi
	depends = libxrandr
	depends = qt6-base
	depends = qt6-declarative
	depends = sdl3
	depends = shaderc
	provides = pcsx2
	conflicts = pcsx2
	options = !emptydirs
	options = !lto
	source = git+https://github.com/PCSX2/pcsx2.git
	source = qt-plugins.patch
	source = git+https://github.com/sammycage/plutovg.git#tag=v1.3.2
	source = git+https://github.com/sammycage/plutosvg.git#tag=v0.0.7
	source = git+https://github.com/jurplel/QtApng.git#tag=1.3.0
	source = git+https://github.com/pnggroup/libpng.git#tag=v1.6.58
	source = https://download.sourceforge.net/libpng-apng/libpng-1.6.58-apng.patch.gz
	source = git+https://github.com/biojppm/rapidyaml.git#tag=v0.12.1
	source = git+https://github.com/biojppm/c4core.git
	source = git+https://github.com/biojppm/cmake.git
	source = git+https://github.com/biojppm/debugbreak.git
	source = git+https://github.com/fastfloat/fast_float.git
	sha256sums = SKIP
	sha256sums = a4c5380ad6cf9a563dd809ab74d2f24b4d8c7eb5adef53a718d0536a959c2ffb
	sha256sums = 72952e7aab0ead0e2d667674699f63435f69421fac3fbe1ff4280900f73f093e
	sha256sums = ef0d243dd1ba49503df3e6fd72799b388ed6e4ffde63659e94036d6ec616e93c
	sha256sums = b69518cbf08a62496d992a76bb80c5f7b419fc0f3895880ff40bdeaef9e83218
	sha256sums = 07900c2e616ce58dda6b30ec444bbe662b51c0bdd0bc7e02ba053ec83f009df5
	sha256sums = eee7dea22ed502868017971c86c63c4ed1e6085de0baebfdcc3d3322f00f3eb0
	sha256sums = 4c530168b9f0f94bce257dcc8e94783fcb23eae5dfdd6a500e360d1623b7858d
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = pcsx2-git
