pkgbase = dolphin-emu-git
	pkgdesc = A Nintendo Wii and GameCube emulator
	pkgver = 2606.r292.gcd3ea81
	pkgrel = 1
	url = https://github.com/dolphin-emu/dolphin
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = clang
	makedepends = cmake
	makedepends = git
	makedepends = libglvnd
	makedepends = linux-headers
	makedepends = lld
	makedepends = ninja
	makedepends = pkgconf
	makedepends = python
	makedepends = vulkan-headers
	depends = bluez-libs
	depends = enet
	depends = ffmpeg
	depends = fmt
	depends = glslang
	depends = gettext
	depends = hicolor-icon-theme
	depends = libevdev
	depends = libiconv
	depends = libgl
	depends = libudev.so
	depends = libspng
	depends = llvm
	depends = lzo
	depends = minizip-ng
	depends = miniupnpc
	depends = pugixml
	depends = qt6-base
	depends = qt6-svg
	depends = sdl3
	depends = sfml
	depends = xxhash
	depends = zlib-ng
	provides = dolphin-emu
	conflicts = dolphin-emu
	options = !emptydirs
	options = !lto
	source = dolphin-emu::git+https://github.com/dolphin-emu/dolphin.git
	source = optional-systemd.patch
	source = git+https://github.com/mgba-emu/mgba.git
	source = git+https://github.com/mozilla/cubeb.git
	source = git+https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
	source = git+https://github.com/RetroAchievements/rcheevos.git
	source = git+https://github.com/ocornut/imgui.git
	source = git+https://github.com/epezent/implot.git
	source = git+https://github.com/syoyo/tinygltf.git
	source = git+https://github.com/e-dant/watcher.git
	source = git+https://github.com/mutouyun/cpp-ipc.git
	source = git+https://github.com/weisslj/cpp-optparse.git
	source = git+https://github.com/arsenm/sanitizers-cmake.git
	sha256sums = SKIP
	sha256sums = a67e10c2c3bafa5d078d7cc2ee2c0311c073496aaf181149fe9139b36b4f12b1
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = dolphin-emu-git
