pkgbase = rpcs3-git
	pkgdesc = A Sony PlayStation 3 emulator
	pkgver = 0.0.42.r19689.daa43790
	pkgrel = 1
	url = https://github.com/RPCS3/rpcs3
	arch = x86_64
	license = GPL-2.0-only
	makedepends = clang
	makedepends = cmake
	makedepends = ninja
	makedepends = git
	makedepends = libglvnd
	makedepends = lld
	makedepends = pkgconf
	makedepends = python
	makedepends = vulkan-headers
	depends = ffmpeg
	depends = glew
	depends = glslang
	depends = hicolor-icon-theme
	depends = libevdev
	depends = libudev.so
	depends = libgl
	depends = llvm
	depends = miniupnpc
	depends = openal
	depends = opencv
	depends = pugixml
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-multimedia
	depends = qt6-svg
	depends = rtmidi
	depends = sdl3
	optdepends = rpcs3-udev
	optdepends = vulkan-validation-layers
	provides = rpcs3
	conflicts = rpcs3
	options = !emptydirs
	options = !lto
	options = !strip
	source = git+https://github.com/RPCS3/rpcs3.git
	source = git+https://github.com/ip7z/7zip.git
	source = git+https://github.com/FNA-XNA/FAudio.git
	source = git+https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
	source = git+https://github.com/RPCS3/soundtouch.git
	source = git+https://github.com/asmjit/asmjit.git
	source = git+https://github.com/Vestrel/discord-rpc
	source = git+https://github.com/nothings/stb.git
	source = git+https://github.com/wolfSSL/wolfssl.git
	source = git+https://github.com/RPCS3/yaml-cpp.git
	source = git+https://github.com/mozilla/cubeb.git
	source = git+https://github.com/arsenm/sanitizers-cmake.git
	source = feralinteractive::git+https://github.com/FeralInteractive/gamemode.git
	source = fusion::git+https://github.com/xioTechnologies/Fusion.git
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = rpcs3-git
