pkgbase = bpftune-git
	pkgdesc = BPF/tracing tools for auto-tuning Linux
	pkgver = r772.d5d9f60
	pkgrel = 1
	url = https://github.com/oracle/bpftune
	arch = x86_64
	license = GPLv2 WITH Linux-syscall-note
	makedepends = clang
	makedepends = bpf
	makedepends = git
	makedepends = lld
	makedepends = llvm
	makedepends = pkgconf
	makedepends = python-docutils
	depends = libbpf
	depends = libnl
	depends = libcap
	provides = bpftune
	conflicts = bpftune
	source = git+https://github.com/oracle/bpftune.git
	source = build-tweaks.patch
	sha256sums = SKIP
	sha256sums = 806a3f909cb344ec5794419ae5ff8d47db2be24be7275d0c18651e46e2809d33

pkgname = bpftune-git
